.navbar {
  font-family: 'Helvetica';
  color: white;
  background-color: black;
  display: inline-block;
  list-style-type: none;
  margin: 100px;
  justify-content: space-between;
}

header {
  width: 100%;
  z-index: 1;
}
