HTML, body {
  margin: 0;
  padding: 0;
}

.navbar {
  color: white;
  background-color: black;
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  width: 100%;
  position: relative;
  top: 0px;
  height: 100px
  
  
}

header {
  width: 100%;
  z-index: 1;
}

.navlist{
  float: left;
  padding: 50px;
  font-family: 'Helvetica';
}

.profile-photo{
  height:auto;
  width:auto;
}
